@mixin breakpoint($point) {
  @if $mediaqueries {
    @if $point == small {
      @media (min-width: 28em) { @content; }
    }
    @else if $point == medium {
      @media (min-width: 40em) { @content; }
    }
    @else if $point == kindabig {
      @media (min-width: 44em)  { @content; }
    }
    @else if $point == big {
      @media (min-width: 59em) { @content; }
    }
    @else if $point == tall {
      @media (min-width: 59em) and (min-height: 50em) { @content; }
    }
  }
  @else {
    @content;
  }
}