// COLOR PALETTE

$primary: blue;
$secondary: gray;
$neutral: #555555;
$highlight: #dcdcdc; // light gray
$ultralight: #f5f5f5; // very super light gray
$light: #ffffff;

$error: red;
$valid: green;

// FONT STACKS
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, serif;