<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Josh Larson Bootstrap</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <!-- Facebook OpenGraph Data -->
        <meta property="og:title" content="" />
        <meta property="og:type" content="website" />
        <!-- If it's an article:
        <meta property="og:type" content="article" />
        <meta property="article:published_time" content = "" />
        -->
        <meta property="og:description" content="" />        
        <meta property="og:url" content=""/>
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="" />
        <meta property="fb:app_id" content=""> 

        <!-- Canonical URL for CMS SEO -->
        <link rel="canonical" href="" />

        <!-- Twitter Card Metadata. Must activate domain via https://dev.twitter.com/docs/cards -->
        <meta property="twitter:card" content="summary">
        <meta property="twitter:site" content="">
        <meta property="twitter:creator" content="">

        <link rel="stylesheet" href="./css/base.css">
            
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="./css/fallback.css">
        <![endif]-->
        
        <!-- This has to load in head for the DOM to render correctly -->
        <script src="./js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>

        <h1>Happy Medium Bootstrap</h1>
            
        <p>For building sites with our Happy Medium...happiness.</p>
        
        <!-- You must compile the minified/global.js using a Grunt task for either of these scripts to work. -->

        <!-- Use unminified global.js during development. Remove during production & use <% package name %>.min.js -->
        <script src="./js/global.js"></script>
        <!--<script src="./js/global.min.js"></script>-->
        
    </body>
</html>
