/* BUTTON */

.btn, a:visited.btn, button { 
    text-transform: uppercase;
    color: $neutral;
    border: none;
    border-radius: 2px;
    padding: 0.5em 1em;
    -webkit-appearance: none;
    margin-top: 0.5em;
    width: 100%;

    @include inline-block;
    @include transition(all 0.3s ease-in-out);

    &:hover, &:focus {
        background: $primary;
        outline: none;
    }

    @include breakpoint(small) {
        width: auto;
        margin-top: 0;
    }
}