/* COVER */

.cover {
	height: 6em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	@include opacity(0);
    @include transition(opacity 1000ms ease-in-out);  

    &.lazyloaded {
    	@include opacity(1);
    }

	@include breakpoint(kindabig) {
		height: 20em;
	}

	.home & {
		@include breakpoint(tall) {
			height: 35em;
		}
	}
}