/* LAYOUTS */

@include breakpoint(medium) {
	.two-columns {
		@include clearfix;

		> .col {
			width: 48%;
			float: left;
			margin-right: 4%;
		}

		> .col + .col {
			margin-right: 0;
		}
	}

	.two-columns > .col {
		> h1, > h2, > h3 {
			margin-top: 0;
		}
	}
}