/* HEADER NAV */

header nav {

}

/* SECONDARY NAV */

.secondary {

}

/* BREADCRUMBS */

.breadcrumbs {
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: right;

    a {
        color: $neutral;
    }
}