/* FORMS */

form ol, form ul {
    list-style: none;
    margin-left: 0;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    padding-bottom: 0.25em;
}

input[type=text], input[type=search], input[type=url], input[type=number], input[type=tel], input[type=email], textarea {
    border: 2px solid $highlight;
    border-radius: 2px;
    background: $light;
    padding: 0.5em 1em;
    -webkit-appearance: none;
    width: 100%;
    @include inline-block;

    &:hover, &:focus {
        box-shadow: 0 0 5px rgba(0,0,0,.15);
        outline: none;
    }
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* Validation */
.has-error {
    border-color: $error;
}

.is-valid {
    border-color: $valid;
}

/* Form Field Container */
.field-container {
    margin-bottom: 1em;
}

/* Field Container widths */

@include breakpoint(medium) {

    .application-step {
        text-align: justify;
    }

    .w20, .w30, .w40, .w50, .w100 {
        @include inline-block;
        
        .easy-dropdown {
            width: 100%;
        }
    }

    .w20 {
        width: 18%;
        
    }

    .w30 {
        width: 29%;
        
    }

    .w40 {
        width: 39%;
        
    }

    .w50 {
        width: 48%;
        
    }

    .w100 {
        width: 100%;
    }

    .first {
        
    }

    .last, .w100 {
        
        width: calc(100% + 2);
    }
}