/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/

/* Text-Align */
.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

@include breakpoint(small) {
	.pull-left {
		float: left;
	}

	.pull-right {
		float: right;
	}
}