/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video, object {
	max-width: 100%;
	height: auto;
}

iframe {
	margin-bottom: 1em;
}

figure {
	margin-bottom: 1em;

	img {
		margin-bottom: 0.25em;
	}
}
figcaption {
	font-style: italic;
}

/* MEDIA OBJECTS */

// Source: http://stubbornella.org/content/?p=497
// Also, stolen from Twitter Bootstrap 3.0
// --------------------------------------------------

// Clear the floats
.media,
.media-body {
	overflow: hidden;
	zoom: 1;

	p {
		margin-top: 0;
	}
}


// Proper spacing between instances of .media
.media,
.media .media {
	margin-top: 1em;
}
.media:first-child {
	margin-top: 0;
}

// For images and videos, set to block
.media-object {
	display: block;
	width: 100%;
	border-radius: 3px;

	@include breakpoint(small) {
		width: auto;
	}
}

// Reset margins on headings for tighter default spacing
.media-heading {
	margin: 1em 0 0.5em;

	@include breakpoint(small) {
		margin: 0 0 0.5em;
	}
}

.media .helper {
	display: none;
}

// Media list variation
// -------------------------

// Undo default ul/ol styles
.media-list {
	padding-left: 0;
	list-style: none;
}

.media-body {
	@include breakpoint(small) {
		font-size: 0.8em;
	}

	@include breakpoint(kindabig) {
		font-size: 1em;
	}
}

.media {
	@include breakpoint(small) {
		> .pull-left {
			margin-right: 1.5em;
		}
		> .pull-right {
			margin-left: 1.5em;
		}
	}

	@include breakpoint(big) {
		> .pull-left {
			margin-right: 2em;
		}
		> .pull-right {
			margin-left: 2em;
		}
	}
}

/* WORDPRESS CAPTIONS */

.wp-caption p {
	font-size: 0.8em;
	font-style: italic;
}

