/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
	border-collapse: collapse; 
	border-spacing: 0; 
	width: 100%;
	max-width: 100%;
}

.table {
	margin-bottom: 2em;

	th, td {
		padding: 1em 0.5em;

		@include breakpoint(big) {
			padding: 0.5em;
		}
	}

	&.table-hover {
		tr {
			@include transition(background 0.2s ease-in-out);

			&:hover {
				background: $highlight !important;
			}

			&:nth-of-type(even) {
				background: $highlight;

				@include breakpoint(big) {
					background: none;
				}
			}
		}
	}
}